$navy: #244F75;
$blue: #60BFBF;
$purple: #8C4B7E;
$yellow: #F8BB44;
$coral: #F24B4B;
$animation-n1: "strip--u4rx9pe";
$animation-n2: "strip--u4rx9pg";
$animation-n3: "strip--u4rx9q8";
$animation-n4: "strip--u4rx9qn";
$animation-n5: "strip--u4rx9r0";